---
layout: main
---
<article class="article-page">
  <div class="page-content">
    {% if page.img %}
    <div class="page-cover-image">
      <figure>
        <img class="page-image" src={{ "/assets/img/" | append : page.img}} alt="{{page.title}}">
        {% if page.fig-caption %}
          <figcaption>{{page.fig-caption}}</figcaption>
        {% endif %}
      </figure>
    </div> <!-- End Page Cover Image -->
    {% else %}
    {% endif %}

    {% if page.video %}
    <div class="page-cover-video">
      <figure>
        <iframe class="page-video" src={{ "//player.bilibili.com/" | append : page.video }} scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe>
        {% if page.fig-caption %}
          <figcaption>{{page.fig-caption}}</figcaption>
        {% endif %}
      </figure>
    </div> <!-- End Page Cover Video -->
    {% else %}
    {% endif %}
    <div class="wrap-content">
      <header class="header-page">
        <h1 class="page-title">{{page.title}}</h1>
        <div class="page-date"><span>{{page.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
      </header>
      {{content | markdownify}}

      <div class="page-footer">
        <div class="page-share">
          <a href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url={{ site.url }}&title={{ page.title }}" title="Share on QZone" rel="nofollow" target="_blank">分享到QQ空间</a>
          <a href="http://service.weibo.com/share/share.php?url={{ site.url }}{{ page.url }}" title="Share on Facebook" rel="nofollow" target="_blank">分享到微博</a>
        </div>
        <div class="page-tag">
          {% for tag in page.tags %}
            <a href="/tags#{{tag}}" class="tag">&#35; {{ tag }}</a>
          {% endfor %}
        </div>
      </div>
    </div> <!-- End Wrap Content -->
  </div> <!-- End Page Content -->
</article> <!-- End Article Page -->
